
<div class="projeto-card" data-detalhes="{{url_for('scrumAcademy')}}">
    <h3>SCRUM ACADEMY</h3>
    <img src="{{url_for('static', filename='img/imagemProjeto1.png')}}" alt="Projeto Scrum Academy">
    <p>Site de curso online sobre Scrum, desenvolvido para iniciantes que desejam compreender os princípios e práticas fundamentais da metodologia ágil Scrum.</p>
    <p><strong>Tecnologias:</strong> HTML, CSS, Flask.</p>
</div>

<div class="projeto-card vazio">Em breve...</div>
<div class="projeto-card vazio">Em breve...</div>