<div class="voltar" data-voltar="{{url_for('padrao')}}"><p>← Voltar</p></div>
<div class="imgProjeto"><img src="{{url_for('static', filename='img/imagemProjeto1.png')}}" alt="Projeto Scrum Academy"></div>


<div class="descricaoProjeto">
    <p><strong>Descrição:</strong></p>
    
    <p>Site de curso online sobre Scrum, desenvolvido para iniciantes que desejam compreender os princípios e práticas fundamentais dessa metodologia de trabalho ágil.</p>
    
    <p><Strong>Minha Função:</Strong></p>
    
    <p>No desenvolvimento do site de cursos sobre Scrum, exerci a função de Scrum Master enquanto também assumi a liderança técnica em JavaScript. Além de coordenar a equipe, facilitar as cerimônias ágeis e garantir a fluidez do processo, fui responsável por estruturar toda a lógica interativa do projeto. Desenvolvi funcionalidades essenciais da aplicação, criando interfaces dinâmicas, fluxos responsivos e comportamentos que aprimoraram significativamente a experiência do usuário.</p>

    <p>Implementei mecanismos de persistência de dados para armazenar progresso, preferências e marcações dos usuários, assegurando continuidade e consistência em cada acesso. Modelei a comunicação entre módulos, organizei a arquitetura do código e otimizei componentes para tornar o sistema mais estável, modular e fácil de manter. Meu trabalho envolveu desde a criação de eventos e animações até o gerenciamento de estados, validações, rotinas assíncronas e integração entre as diferentes partes do front-end.</p>

    <p>Essa atuação uniu liderança e profundidade técnica: conduzi o time com clareza, removi impedimentos e ofereci suporte contínuo, ao mesmo tempo em que desenvolvia soluções em JavaScript que deram vida ao projeto. O resultado foi um sistema sólido, funcional e consistente — reflexo direto da combinação entre organização, domínio técnico e compromisso com a qualidade.</p>


    <p><strong>Acesse:</strong> <a href="https://scrumacademy.vercel.app/" target="_blank" class="link">Scrum Academy</a></p>
</div>