<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio - Kaike Caboclo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet">
   
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>

    <header class="topo">
        <h1>KAIKE CABOCLO</h1>
        <nav class="menu">
            <a href="#introducao">Início</a>
            <a href="#curriculo">Currículo</a>
            <a href="#projetos">Projetos</a>
            <a href="#habilidades">Habilidades</a>
            <a href="#documentos">Trabalhos</a>
            <a href="#certificacoes">Certificações</a>
            <a href="#contato">Contato</a>
        </nav>
    </header>

    
    <main>

        <section id="introducao" class="secao introducao">
            <div class="intro-texto">
                <h2>Olá!</h2>
                <p>Meu nome é Kaike e atualmente curso Análise e Desenvolvimento de Sistemas. Sou um desenvolvedor em formação com foco em back-end, motivado pela curiosidade e pelo compromisso em criar soluções eficientes e bem estruturadas. Busco aprimorar continuamente minhas habilidades por meio de projetos com aplicações reais, explorando desde a construção de arquiteturas robustas até o uso de tecnologias que aprimorem a qualidade e o desempenho das aplicações. Acredito no valor do trabalho colaborativo, da aprendizagem constante e do desenvolvimento de sistemas que realmente entreguem resultados significativos.</p>
            </div>
            <div class="intro-foto">
                <div class="foto"></div>
            </div>
        </section>

        <section id="curriculo" class="secao">
            <h2>Currículo</h2>
            <p><strong>Formação:</strong> Análise e Desenvolvimento de Sistemas - FATEC (em andamento)</p>
            <p><strong>Certificações:</strong>Cisco It Essential; Cisco Linux Unhatched</p>
            <p><strong>Competências Técnicas:</strong> Python, JavaScript, HTML, CSS, SQL, Flask, Git e GitHub</p></section>

        <section class="secao projetos">
            <h2>Projetos</h2>
            <div id="projetos" class="grid-projetos">

                <div class="projeto-card" data-detalhes="{{url_for('scrumAcademy')}}">
                    <h3>SCRUM ACADEMY</h3>
                    <img src="{{url_for('static', filename='img/imagemProjeto1.png')}}" alt="Projeto Scrum Academy">
                    <p>Site de curso online sobre Scrum, desenvolvido para iniciantes que desejam compreender os princípios e práticas fundamentais da metodologia ágil Scrum.</p>
                    <p><strong>Tecnologias:</strong> HTML, CSS, Flask.</p>
                </div>

                <div class="projeto-card vazio">Em breve...</div>
                <div class="projeto-card vazio">Em breve...</div>
            </div>
        </section>

        <section id="habilidades" class="secao">
            <h2>Habilidades</h2>
            <div class="habilidades-grid">
                <div>
                    <h3>Habilidades Técnicas</h3>
                    <ul>
                        <li>HTML, CSS, JavaScript</li>
                        <li>Python</li>
                        <li>Flask</li>
                        <li>Git e GitHub</li>
                        <li>Metodologia Scrum</li>
                    </ul>
                </div>
                <div>
                    <h3>Soft Skills</h3>
                    <ul>
                        <li>Comunicação e colaboração em equipe</li>
                        <li>Resolução de problemas</li>
                        <li>Proatividade</li>
                        <li>Organização e responsabilidade</li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="documentos" class="secao">
            <h2>Documentos e Trabalhos</h2>
            <p>Vazio</p>
        </section>

        <section id="certificacoes" class="secao">
            <h2>Certificações</h2>
            <p>Vazio</p>
        </section>

        <section id="contato" class="secao contato">
            <h2>Contato</h2>
            <ul>
                <li>Email: <a href="mailto:kaikelima608@gmail.com">kaikelima608@gmail.com</a></li>
                <li>LinkedIn: <a href="https://www.linkedin.com/in/kaike-lima-728a772a6/">www.linkedin.com/in/kaike-lima-728a772a6/</a></li>
                <li>GitHub: <a href="https://github.com/KaikeCaboclo">github.com/KaikeCaboclo</a></li>
            </ul>
        </section>

    </main>

    <footer class="rodape">
        <p></p>
    </footer>
<script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>
